<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><roundcube:object name="pagetitle" /></title>
		<roundcube:include file="/includes/links.html" />
		<script type="text/javascript" src="/functions.js"></script>
		<script type="text/javascript" src="/splitter.js"></script>
	</head>
	<body>
		<roundcube:include file="/includes/taskbar.html" />
		<roundcube:include file="/includes/header.html" />
		<roundcube:include file="/includes/settingstabs.html" />

		<div id="mainscreen">
			<div id="accounts-list">
				<div id="forwards-title" class="boxtitle">
					<roundcube:label name="vmail.accounts" />
					<roundcube:object name="plugin.accounts-count" />
				</div>
				<div class="boxlistcontent">
					<roundcube:object name="plugin.accountslist"
						id="accounts-table"
						summary="Accounts list"
						class="records-table"
						cols="2"
						cellspacing="0"
						noheader="true" editIcon="" />
				</div>
				<div class="boxfooter">
					<roundcube:button command="add-account" type="link"
						title="vmail.newaccount"
						class="buttonPas addgroup"
						classAct="button addgroup"
						condition="env:account_create"
						content=" " />
					<roundcube:object name="plugin.accountsquota" />
				</div>
			</div>
			<script type="text/javascript">
				var accviewsplit = new rcube_splitter({id:'accviewsplitter', p1: 'accounts-list', p2: 'account-details', orientation: 'v', relative: true, start: 350 });
		  		rcmail.add_onload('accviewsplit.init()');
			</script>
			<div id="account-details">
				<div style="margin: 10px auto; text-align: center;">
					<img src="/images/watermark.gif" width="260" height="228" alt="" />
				</div>
			</div>
		</div>
	</body>
</html>
