<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><roundcube:object name="pagetitle" /></title>
		<roundcube:include file="/includes/links.html" />
		<script type="text/javascript" src="/functions.js"></script>
		<script type="text/javascript" src="/splitter.js"></script>
	</head>
	<body>
		<roundcube:include file="/includes/taskbar.html" />
		<roundcube:include file="/includes/header.html" />
		<roundcube:include file="/includes/settingstabs.html" />

		<div id="mainscreen">
			<div id="forwards-list">
				<div id="forwards-title" class="boxtitle">
					<roundcube:label name="vmail.forwards" />
				</div>
				<div class="boxlistcontent">
					<roundcube:object name="plugin.forwardslist" 
						id="forwards-table" 
						summary="Forwards list" 
						class="records-table" 
						cols="2" 
						cellspacing="0" 
						noheader="true" editIcon="" />
				</div>
				<div class="boxfooter">
					<roundcube:button command="add" type="link" 
						title="vmail.newforward"
						class="buttonPas addgroup"
						classAct="button addgroup" 
						content=" "
						condition="config:identities_level:0<2" />
				</div>
			</div>
		
			<script type="text/javascript">
			  var fwdviewsplit = new rcube_splitter({id:'fwdviewsplitter', p1: 'forwards-list', p2: 'forward-details', orientation: 'v', relative: true, start: 250 });
			  rcmail.add_onload('fwdviewsplit.init()');
			</script>

			<div id="forward-details">
				<div id="forward-title" class="boxtitle">
					<roundcube:object name="steptitle" />
				</div>
				<div class="boxcontent">
					<roundcube:object name="plugin.forwardeditform" 
						id="forward-form" 
						summary="Forwards form" />
					<p>
						<br />
						<roundcube:button command="delete" type="input"
							class="button"
							label="delete"
							condition="env:fid!=null"
							style="margin-right:0.5em" />
						<roundcube:button command="save" type="input"
							class="button mainaction" 
							label="save" />
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
