Source: vmail
Section: mail
Priority: optional
Maintainer: Damien Churchill <damoxc@gmail.com>
Uploaders: Damien Churchill <damoxc@gmail.com>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: python-dev,
                     python-support (>= 0.90),
                     python-setuptools (>= 0.6.10)
Standards-Version: 3.8.3
Homepage: http://www.ukplc.net

Package: vmail
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python-sqlalchemy,
         python-pkg-resources,
         python-twisted-core,
Suggests: python-pyinotify
Description: A database driven virtual mail setup
 VMail is a Postfix/Qpsmtpd based virtual mail project that
 stores it's configuration in a database.
 .
 This is the python binary scripts and config.

Package: vmail-smtp
Architecture: all
Depends: ${perl:Depends}, vmail (= ${source:Version}),
         postfix, postfix-mysql, dovecot-common,
         qpsmtpd, qpsmtpd-vmail, libjson-perl, 
         libmime-encwords-perl,
         libemail-valid-perl,
         libmail-sender-perl,
         liblog-log4perl-perl,
         libio-socket-ssl-perl
Description: A database driven virtual mail setup
 VMail is a Postfix/Qpsmtpd based virtual mail project that
 stores it's configuration in a database.
 .
 This is a metapackage that draws in the required packages for
 smtp.

Package: vmail-webmail
Architecture: all
Depends: vmail-smtp (= ${source:Version}),
         dovecot-imapd,
         dovecot-pop3d,
         dovecot-antispam
Description: A database driven virtual mail setup
 VMail is a Postfix/Qpsmtpd based virtual mail project that
 stores it's configuration in a database.
 .
 This is a metapackage that draws in the required packages for
 webmail/imap.

Package: qpsmtpd-vmail
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, qpsmtpd, vmail, libdbi-perl
Suggests: libdbd-mysql-perl, libdbd-sqlite3-perl
Replaces: qpsmtpd-plugins-vmail
Homepage: http://www.uk-plc.net
Description: collection of database-driven plugins for qpsmtpd
 qpsmtpd-vmail contains all the plugins that vmail requires for 
 providing a complete frontend SMTP server using the vmail DB backend.

Package: roundcube-vmail
Architecture: all
Depends: ${misc:Depends}, ${php:Depends}, roundcube, vmail
Homepage: http://www.uk-plc.net
Description: collection of vmail plugins for Roundcube webmail client
 roundcube-vmail contains plugins to enhance Roundcube allowing users
 to manage their virtual domain as well as other improvements to the
 interface.
