#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install $@
	mkdir -p debian/tmp/etc/sudoers.d
	install -m 440 -o root -g root debian/vmail-smtp.sudoers debian/tmp/etc/sudoers.d/vmail-smtp
	install -m 440 -o root -g root debian/vmail-webmail.sudoers debian/tmp/etc/sudoers.d/vmail-webmail
	install -o root -g root -m 644 debian/vmail.upstart debian/vmail/etc/init/vmail.conf

override_dh_auto_clean:
	dh_auto_clean
	find . -type d -name '*.egg-info' | xargs rm -rf

override_dh_link:
	for plugin in $(CURDIR)/debian/roundcube-plugins-vmail/usr/share/roundcube/plugins/*; do \
        dh_link -proundcube-plugins-vmail usr/share/roundcube/plugins/$${plugin##*/} \
            var/lib/roundcube/plugins/$${plugin##*/} ; \
        if [ ! -f $${plugin}/config.inc.php.dist ]; then continue; fi ; \
        dh_installdirs -proundcube-plugins-vmail etc/roundcube/plugins/$${plugin##*/} ; \
        (echo "<?php" ; \
         echo "// Empty configuration for $${plugin##*/}" ; \
         echo "// See /usr/share/roundcube/plugins/$${plugin##*/}/config.inc.php.dist for instructions") > \
            $(CURDIR)/debian/roundcube-plugins-vmail/etc/roundcube/plugins/$${plugin##*/}/config.inc.php ; \
        dh_link -proundcube-plugins-vmail etc/roundcube/plugins/$${plugin##*/}/config.inc.php \
            usr/share/roundcube/plugins/$${plugin##*/}/config.inc.php ; \
    done
