/*
	Accounts CSS file
	default CSS last updated in version 2009-09-26
*/

#accounts-list {
	position: absolute;
	overflow: auto;
	top: 95px;
	left: 20px;
	bottom: 60px;
	width: 420px;
	border: 1px solid #999;
}

#accounts-detail {
	position: absolute;
	overflow: auto;
	top: 95px;
	right: 20px;
	left: 450px;
	bottom: 60px;
	border: 1px solid #999;
}

#accounts-detail .disabled,
#forward-details .disabled {
	color: #ccc;
}

#accounts-detail .disabled input,
#forward-details .disabled input {
	border: 1px solid #ccc;
	background-color: #eee;
}

#accounts-details img {
	margin: 0 auto;
	width: 260px;
	height: 228px;
}

#accounts-table {
	width: 100%;
	cursor: default;
}

#accounts-table .accounts.quota {
	width: 15%;
}

#accounts-table .accounts.enabled {
	width: 15%;
}

#accounts-table .current-user {
	font-weight: bold;
}

#domain-quota {
	position: absolute;
	width: 416px;
	padding: 2px;

	border-top: 1px solid #999;
	bottom: 0px;
}

#domain-accounts {
	float: left;
	font-size: 11px;
}

#domain-usage {
	float: right;
	font-size: 11px;
}


/********************
 * Forwards section *
 ********************/
#forwards-table {
	width: 100%;
	table-layout: fixed;
}

#forwards-table tbody td {
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

#forwards-frame
{
  position: relative;
  margin-top: 20px;
  border: 1px solid #999999;
}

#forward-details
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #999999;
  overflow: auto;
  background-color: #F2F2F2;
}

#forward-details table td.title
{
  font-weight: bold;
  text-align: right;
}

#forwards-list
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: hidden;
}
