/*
	Accounts CSS file
	default CSS last updated in version 2009-09-26
*/

#account-details .disabled,
#forward-details .disabled {
	color: #ccc;
}

#account-details .disabled input,
#account-details input.disabled,
#forward-details .disabled input {
	border: 1px solid #ccc;
	background-color: #eee;
}

#account-details input.disabled.check {
	border: none;
}

#account-details .header,
#forward-details .header {
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	color: #666;
}

#accounts-table .acc_quota {
	width: 140px;
}

#accounts-table .current-user {
	font-weight: bold;
}

#accounts-count {
	float: right;
	margin-top: 1px;
	font-size: 0.8em;
	height: 40px;
	width: 100px;
	text-align: right;
}

#accounts-table,
#forwards-table {
	width: 100%;
	table-layout: fixed;
}

#accounts-table tbody td,
#forwards-table tbody td {
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

#accounts-table .quota_wrapper {
	position: relative;
	height: 20px;
	margin-top: -2px;
}

#accounts-frame,
#forwards-frame
{
  position: relative;
  margin-top: 20px;
  border: 1px solid #999999;
}

#account-details,
#forward-details
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #999999;
  overflow: auto;
  background-color: #F2F2F2;
}

#account-details table td.title,
#forward-details table td.title
{
  font-weight: bold;
  text-align: right;
}

#accounts-list,
#forwards-list
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #999999;
  background-color: #F9F9F9;
  overflow: hidden;
}

/** quota indicator */

.quota
{
  position: absolute;
  top: 3px;
  right: 8px;
  width: 100px;
}

.quotaimg
{
  position: absolute;
  top: 3px;
  right: 6px;
  z-index: 101;
}

.quota_text {
  text-align: center;
  font-size: 10px;
  color: #666;
  border: 1px solid #999;
  cursor: default;
}
.quota_bg { background-color: white; }
.quota_high { background-color: #F33131; }
.quota_mid { background-color: #F5AD3C; }
.quota_low { background-color: #91E164; }
.quota_text_high { color: white; }
.quota_text_mid { color: #666; }
.quota_text_low { color: #666; }
